// app global css

// Anchor
a:not([tabindex])
  color $blue
  text-decoration none
  background-color transparent

a:not([tabindex]):hover
  color $orange
  cursor pointer

a:not([tabindex]):focus
  color $purple
